# dont track logs
logs/*

## ignore swap files
*.swp

## ignore Rplots.pdf trash files
*Rplots.pdf

## ignore nf.logs
.nextflow.log*
.nextflow/

## ignore workdir
work*

# Ignore test subdirectories from nfmodules
forusers/modules/*/test/results/*
forusers/modules/A-analyzeR/test/results/A-analyzeR/all_resources.tsv

# Ignore results from main test
test/results/

## ignore local R datas
*.Rdata
*.Rhistory

# ignore monitor results
monitor-results/
NFrun.log

